<%- include('partials/header'); -%>
<img src="images/404Error.svg" alt="" width="500px" height="500px">
<h3><a href="/">Back to home <i class="fas fa-home"></i></a></h3>
<%- include('partials/footer'); -%>