<%- include('partials/header'); -%>
<div class="sign-container">
    <img src="images/signup.svg" alt="">
    <form enctype="multipart/form-data">
        <h2>Sign Up</h2>
        <label for="file">
            <i class="fas fa-user-circle"></i> Upload profile photo
            <input type="file" name="file" id="file" accept="image/*" style="display: none;">
        </label>

        <label for="email">Email<span style="color: lightcoral;">*</span> <span
                style="color:lightslategray;font-size: 15px;">(Cannot be changed later)</span></label>
        <input type="text" name='email' required placeholder="Ash_Ketchum01@email.com">
        <div class="password error" id="EError"></div>

        <label for="userName">UserName<span style="color: lightcoral;">*</span></label>
        <input type="text" name='userName' placeholder="Pikachu01" required>

        <label for="name">Name<span style="color: lightcoral;">*</span></label>
        <input type="text" name='name' placeholder="Ash Ketchum" required>

        <label for="phone">Phone number</label>
        <input type="text" name='phone' placeholder="0000000000">

        <label for="password">Password<span style="color: lightcoral;">*</span></label>
        <input type="password" name='password' required placeholder="******">

        <div class="password error" id="PError"></div>
        <input type="submit" value="Sign Up">
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const fileUpload = document.getElementById('file');
    const fileLabel = document.querySelector('label[for="file"]')
    const CloudinaryUpload = 'https://api.cloudinary.com/v1_1/dnkuyotlp/upload'
    const CloudinaryUploadPreset = 't3p8v8km'

    var image;
    fileUpload.addEventListener('change', (e)=> {
        fileLabel.textContent = fileUpload.value.split('\\').pop();
        var file = event.target.files[0];
        var formData = new FormData();
        formData.append('file', file)
        formData.append('upload_preset', CloudinaryUploadPreset)
        
        axios({url: CloudinaryUpload, 
            method: 'POST',
            headers: {
                'Content-Type':'application/x-www-form-urlencoded'
            },
            data: formData
        }).then((res)=> {
            console.log(res.data.secure_url);
            image = res.data.secure_url;

        }).catch((err)=> {
            console.log(err);
        });
    });

    const form = document.querySelector('form')
    const emailError = document.querySelector('#EError');
    const passwordError = document.querySelector('#PError');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        emailError.textContent = '';
        passwordError.textContent = '';

        const email = form.email.value;
        const password = form.password.value;
        const userName = form.userName.value;
        const phone = form.phone.value;
        const name = form.name.value;
        // const image = form.image.value;
        
        try {
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({
                    image,
                    email,
                    userName,
                    name,
                    phone,
                    password
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })

            const data = await res.json();
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                location.assign('/');
            }
        } catch (err) {
            console.log(err);
        }
    })
</script>
<%- include('partials/footer'); -%>